.card-img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-img:hover{
    object-fit: scale-down;
}

.card-block{
    display: flex;
    justify-content: space-between;
}

.card{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
.card-button{
    background-color: black;
    color: white;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: .5s;
}

.card-button:hover{
    background-color: white;
    color: black;
}
.card-button:active{
    transform: scale(1.12);
    transition: 0s;
}